# git
.gitattributes
.flowbite-react/.gitignore

# npm
package-lock.json

# node
node_modules

# pnp
.pnp.cjs
.pnp.loader.mjs

# yarn
.yarn
yarn.lock
.yarnrc.yml

# vite
dist

# vitest until 0.1.0
coverage

# flowbite-react
.flowbite-react/class-list.json

# editor directories and files
.vscode
.editorconfig