# git
.gitattributes

# npm
package-lock.json

# node
node_modules

# pnp
.pnp.cjs
.pnp.loader.mjs

# yarn
.yarn
yarn.lock
.yarnrc.yml

# vite
dist

# vitest
coverage

# editor directories and files
.vscode
.editorconfig