# git
.gitattributes
.flowbite-react/.gitignore

# yarn
.yarn
yarn.lock
.yarnrc.yml

# pnp
.pnp.cjs
.pnp.loader.mjs

# vitest until 0.1.0
coverage

# vite
dist

# node
node_modules

# editor directories and files
.vscode
.editorconfig